@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100vw;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}

.afinozLogo {
  margin: 0px 147px 0px -30px;
}

.iconColor {
  color: rgb(68, 68, 196);
}

.nav ul {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.nav ul li{
  margin-right: 45px;
  list-style: none;
  color: white;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
}

.mainRowMargin{
  margin-top: 100px;
}

.firstcol{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  padding: 60px 100px;
  font-weight: 500;
}

.firstcol h1{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}
.firstcol p{
  color: rgb(92, 92, 92);
}
.searchDiv{
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    width: 450px;
    border: 1px solid #4444c4;
    cursor: pointer;
}
.searchDiv:hover{
  background-color: #4444c4;
  padding: 10px;
  color: white !important;
  border-radius: 25px;
  text-align: center;
  width: 450px;
  border: 1px solid #a6a6e8;
}
.seccol {
  padding: 0px;
}

.mainForm{
  margin: 52px;
  background-color: #acb1e1;
  align-items: center;
  margin-right: 90px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 11px 20px 2px #9dacff;
  box-shadow: 0px 11px 20px 2px #9dacff;
  width: 400px;
  margin-left: 92px;
  height: 500px;
  text-align: center;
}

.mainpadding{
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
}
.sendOtp{
  background-color: white;
  border-style: none;
  border-radius: 20px;
  text-transform: lowercase;
  color: #4A5DC5;
  padding: 8px;
  width: 110px;
}
.getQuote{
  background-color: white;
  border-radius: 5px;
  border-style: none;
  position: relative;
  padding: 8px;
  color: #757575;
  margin-top: 17px;
  /* left: 15px; */
  bottom: -15px;
 
  box-shadow: 1px 7px 13px #9cabff;

}

.modal-content {
  
}
.secPageMargin{
  margin: 50px 0px;
}
.covidImageBack3 {
  width: 414px;
  position: absolute;
  bottom: -942px;
  right: -140px;
  z-index: -1;
}
.seccol img {
  width: 640px;
    margin-top: 11px;
    margin-left: -93px;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainFooter{
  text-align: center;
  background-color: #eaecff;
}

.footerHeading{
  font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #4A5DC5;
    padding-top: 30px;
    margin-top: 0px;
}
.covidImageBack{
  position: absolute;
  width: 350px;
  left: -163px;
  z-index: -10;
  bottom: -288px;
}
.covidImageBack2 {
  position: absolute;
  width: 352px !important;
  margin: 0px !important;
  right: -121px;
  top: -11px;
  z-index: -1;
}
.backgroundImage{
  left: -199px;
  margin-top: 104px;
  position: absolute;
}

.footerHeading span {
  font-weight: 900;
  font-size: 40px;
}

.footerCol2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerCol1 img{
  height: 500px;
  margin-left: 170px;
  width: 392px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.getQuote{
  background-color: white;
    border-radius: 5px;
    border-style: none;
    position: relative;
    padding: 11px;
    font-weight: 600;
    color: #757581;
    margin-top: 12px;
}

.flex1{
  display: flex;
  flex-direction: row;
}

.flex1 input{
  border-radius: 5px;
  color: #4A5DC5;
  border-style: none;
  margin-left: 6px;
  margin-right: 7px;
  padding: 8px;
  width: 150px;
  padding-left: 27px;
  box-shadow: -1px 2px 13px #4d5896;
  font-family: 'Poppins', sans-serif;
}

.flex2 input {
  border-radius: 10px;
  color: #4A5DC5;
    border-style: none;
    margin-right: 6px;
    width: 198px;
    padding: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.inputError {
  border: 2px solid red !important;
}
.flex2{
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}

.flex3 {
  display: flex;
  flex-direction: column;

}
.flex3 input {
  margin-top: 19px;
  border-radius: 5px;
  color: #4A5DC5;
  border-style: none;
  width: 314px;
  /* text-align: center; */
  padding: 8px;
  padding-left: 27px;
  box-shadow: -1px 2px 13px #4d5896;
  font-family: 'Poppins', sans-serif;
}
.headingFirst{
  font-size: 22px;
    font-weight: 600;
    color: #555fb8;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.navText{
    list-style-type: none;
    color: rgb(68, 68, 196);
    padding-top: 30px;
}
.spanTitle::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: rgb(68, 68, 196);;
  transition: width .3s;
}
.spanTitle:hover::after{
  width: 100%;
  transition: width .3s;
}
.spanTitle{
  font-family: 'Poppins', sans-serif;
  padding: 0px 70px 0px 0px; 
}

.secRowFirstCol{
  padding-top: 30px;
  padding-left: 80px;
}
.secRowFirstCol img{
  height: 512px;
  width: 543px;
  margin-top: 20px;
}
.secRowSecCol{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 128px 163px 70px 31px;
  
}
.secRowSecCol h1{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}
.secRowSecCol p{
  color: rgb(92, 92, 92);
}
.applyDiv{
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  width: 160px;
  border: 1px solid #4444c4;
  cursor: pointer;
}
.applyDiv:hover{
  background-color: #4444c4;
  padding: 10px;
  color: white !important;
  border-radius: 25px;
  text-align: center;
  width: 160px;
  border: 1px solid #a6a6e8;
}

/* Covid Card Css */


.FundCard{
    width: 300px;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 2px 13px #9dacff;
}

.fundHeading p{
  font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}

.fundHeading{
  margin: 10px;
  color: #595959;
  border-bottom: 1px solid #c4c0c0;
}
.fundImage img {
  height: auto;
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}

.fundData{
  margin: 10px;
}

.fundImage {
  box-shadow: 0px 0px 20px 0px #727272;
}

.fundTarget{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #595959;
  margin: 0px 0px 10px 0px;
}

.fundTarget span {
  color: black;
  font-weight: 600;
}

.fundAmount{
  font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #009318;
}
.fundAmount span{
  font-weight: 600;
}

.donateButton{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(255 255 255);
    padding: 10px;
    border: 1px solid rgb(68 68 196);
    color: rgb(68 68 196);
}


/* Plasma main route donation page starts */

.plasmaBody{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding-top: 80px;
}

.plasmaHeading{
  margin-bottom: 45px;
  text-align: center;
}

.plasmaHeading h1{
  font-size: 25px;
  color: rgb(68, 68, 196);
}

.mainContainer{
  border-radius: 5px;
  box-shadow: -1px 2px 13px #9dacff;
  margin: 0px 200px 0px 200px;
}
.plasmaImage{
  width: 840px;
  border-radius: 5px 5px 0px 0px;
  height: 237px;
  overflow: hidden;
}
.plasmaImage img {
  width: 100%;
  position: relative;
  top: -75px;
}
.checkboxMargin {
  display: flex;
  align-items: center;
}
.checkboxMargin input {
  margin-right: 10px;
}
.checkboxMargin div {
  margin-right: 10px;
}
.firstColPlasma{
  margin: 14px 0px 18px 50px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.secColPlasma{
  margin: 14px 50px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.firstColflex2 input {
  width: 300px;
    margin-top: 10px;
    border-style: none;
    box-shadow: 0px 0px 6px #abb7fa;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #656565;
}
.secColflex1 input{
  width: 300px;
  margin-top: 10px;
  border-style: none;
  box-shadow: 0px 0px 6px #abb7fa;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.secColflex1 select {
  width: 300px;
    margin-top: 10px;
    border-style: none;
    box-shadow: 0px 0px 6px #abb7fa;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #656565;
    background-color: transparent;
    padding-left: 10px;
}
.firstColflex1{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.firstColflex1 p {
  margin: 0px !important;
  font-weight: 600;
  color: rgb(68, 68, 196);
}
.firstColflex2{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.firstColflex2 label {
  color: rgb(68, 68, 196);
  font-weight: 600;
}
.secColflex1 label{
  font-weight: 600;
  color: rgb(68, 68, 196);
}
.secColflex1{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.submitButtonPlasma{
  padding: 10px 33px 10px 33px;
    border-radius: 20px;
    border-style: none;
    color: rgb(68, 68, 196);
    background-color: transparent;
    border: 1px solid rgb(68, 68, 196);
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 27px;
}
.submitButtonPlasma:hover{
  padding: 10px 33px 10px 33px;
  border-radius: 20px;
  border-style: none;
  color: white;
  text-transform: uppercase;
  font-style: 13px;
  background-color: rgb(68, 68, 196);
  box-shadow: 0px 2px 20px 0px #b0b7d9;
  border: 1px solid rgb(68, 68, 196);
}



/* RT-PCR test code */
/* Rt-pcr Page Css */

.mainBody{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding-top: 80px;
}
.topContainer{
  width: auto;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 2px 20px 0px #6c6c6c;
}
.topContainer img{
  width: 775px;
  border-radius: 5px;
}
.bedImage{
  display: block;
  position: relative;
}
.bedImageShadow{
      -webkit-filter: blur(30px);
      filter: blur(30px);
      height: 424px;
      top: 404px;
      width: 868px;
      position: absolute;
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      z-index: -1;
}
.heading{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: rgb(68, 68, 196);
}

.headingSec{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: rgb(68, 68, 196);
}
.GovHeading{
  text-align: center;
  font-size: 33px;
  margin: -34px 0px 0px 0px; 
  color: rgb(68, 68, 196); 
  font-weight: 500; 
}
.GovernmentSection{
  border: 3px solid grey;
  padding: 7px 0px 4px 0px;
  margin: 30px 0px 0px 0px;
}

.paraHead {  
  margin: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tableBorder{
  width: 100vw;
  padding: 0px 40px 0px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.paraHead span{
  color: #827c7c;
  font-weight: 600;
}
.paraHead p{  
  font-size: 19px;
    padding: 10px 30px 0px 30px;
}

.table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  margin: 20px 0px 0px 0px;
  box-shadow: -1px 2px 13px 0px #bdc6f9;
}

.td {
  border: 1px solid #ccc;
}
.table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}
.tableTdOne{
  width: 536px;
}
.tableTdTwo{
  width: 290px;
}
.tableTdThree{
  width: 216px;
}
.table th {
  border: 1px solid #dddddd;
  text-align: center;
  font-weight: 500;
  padding: 8px;
}
.hr{
  margin-top: 42px;
}
.priHead{
  text-align: center;
    font-size: 33px;
    color: rgb(68, 68, 196);
    margin-top: 27px;
    font-weight: 500;
}
.TableHead{
  color: rgb(68, 68, 196);
}
@media (max-width: 1300px) {
  .sideNav{
    color: rgb(68, 68, 196);
    margin: -70px 0px 0px 0px;
    height: 39px;
    width: 148px !important;
    float: right;
   }
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    }
  .firstcol{
    color: rgb(68, 68, 196);
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    padding: 50px 90px 0px 270px;
    margin-top: -50px;
   }
  .afinozLogo {
    margin: 0px 60px 0px 20px;
   }
   .sideNav{
    color: rgb(68, 68, 196);
    margin: -68px 0px 0px 0px;
    height: 40px;
    padding-left: 34px;
    width: 148px !important;
   }
   .mainNav{
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    padding: 13px 0px 13px 0px;
    list-style: none;
    height: 59px;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid #868686;
    color: white;
    margin-right: 16px;
    margin-left: 16px;
   }
   .navMenu{
     background-color: #fafafa;
     width:100%;
     height: 80vh; 
     position: fixed; 
     top: 0;
     top: 100%; 
     transition: 100ms;
   }
   .active{
    left: 0;
    
    box-shadow: 1px 4px 13px #344395;
    transition: 358ms;
   }
   .navMenuItems{
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
      background-color: #9dacff;
      flex-direction: column;
      padding-left: 0px !important;
   }
   .navbarToggle{
     background-color: #fafafa;
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: start;
     align-items: center;
   }
   .mainNav:hover{
    background-color: rgb(112 112 255);
    color: white;
    width: 410px;
    margin-left: 1px;
    padding-left: 20px;
   }
   .footerHeading{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #4A5DC5;
    padding-top: 30px;
    margin-top: 0px;
    padding: 30px 35px 30px 35px;
    line-height: 54px;
   }
   .footerHeading span {
    font-weight: 800;
    font-size: 43px;
  }
  .footerCol1 img{
    height: 230px;
    width: 265px;
    margin-left: 0px !important;
    margin-bottom: 25px;
  }
  .backgroundImage {
    left: -32px;
    margin-top: 556px;
    position: absolute;
    height: 303px !important;
  }
  .mainForm {
    margin: 52px;
    background-color: #eff1ff;
    align-items: center;
    margin-right: 90px;
    border-radius: 9px;
    -webkit-box-shadow: 0px 11px 20px 2px #9dacff;
    box-shadow: 0px 11px 20px 2px #9dacff;
    width: 400px;
    margin-left: 92px;
    height: 500px;
    z-index: 2;
    text-align: center;
  }
  .mainpadding{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    align-items: center;
  }
  .headingFirst {
    font-size: 22px;
    font-weight: 600;
    color: #555fb8;
  }
  .flex1 input{
    border-radius: 5px;
    color: #4A5DC5;
    border-style: none;
    margin-left: 6px;
    margin-right: 5px;
    padding: 8px;
    width: 130px;
    padding-left: 27px;
    -webkit-box-shadow: -1px 2px 13px #4d5896;
    box-shadow: -1px 2px 13px #4d5896;
    font-family: 'Poppins', sans-serif;
  }
  .flex3 input{
    margin-top: 19px;
    border-radius: 5px;
    color: #4A5DC5;
    border-style: none;
    width: 270px;
    /* text-align: center; */
    padding: 8px;
    padding-left: 27px;
    -webkit-box-shadow: -1px 2px 13px #4d5896;
    box-shadow: -1px 2px 13px #4d5896;
    font-family: 'Poppins', sans-serif;
  }

  /* PLASMA SECTION STARTS */
  .mainContainer {
    border-radius: 5px;
    box-shadow: -1px 2px 13px #9dacff;
    margin: 0px 200px 0px 200px;
    width: 330px;
  }
  .plasmaImage {
    width: 330px;
    border-radius: 5px 5px 0px 0px;
    height: 225px;
    overflow: hidden;
  }
  .plasmaImage img{
    width: 498px;
    height: 302px;
    position: relative;
    top: -75px;
    left: -88px;
  }
  .plasmaBody {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: 100vw;
    padding: 0px;
  }
  .plasmaHeading {
    margin-bottom: 45px;
    text-align: center;
    padding: 0px 30px 0px 30px;
  }

  /* RTPCR CODE starts */
  .mainBody {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 50px;
    padding: 0px;
  }
  .headingSec{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(68, 68, 196);
    padding: 0px 20px 0px 20px;
    text-align: center;
  }
  .topContainer{
    width: auto;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0px 2px 20px 0px #6c6c6c;
  }
  .topContainer img{
    width: 331px;
    border-radius: 5px;
  }
  .bedImageShadow {
    filter: blur(30px);
    height: 211px;
    top: 15px;
    width: 868px;
    position: absolute;
    transform: scale(0.95);
    z-index: -1;
  }
  .GovHeading{
    text-align: center;
    font-size: 25px;
    margin: -34px 0px 0px 0px;
    color: rgb(68, 68, 196);
    font-weight: 500;
  }
  
 
}