@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 30px;
}

.afinozLogo {
 margin: 0px 60px 0px 60px;
}

.iconColor {
  color: rgb(68, 68, 196);
}

.nav ul {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.nav ul li{
  margin-right: 45px;
  list-style: none;
  color: white;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
}

.firstcol{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 401px 133px 0px 111px;
  margin-top: 196px;
}

.firstcol h1{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}
.firstcol p{
  color: rgb(92, 92, 92);
}
.searchDiv{
  background-color: rgb(130, 155, 226);
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  width: 450px;
}

.seccol img {
  width: 670px;
    margin-top: 543px;
    margin-left: -115px;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.navText{
    list-style-type: none;
    color: rgb(68, 68, 196);
    padding-top: 30px;
    font-weight: bold;   
}
.spanTitle::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: rgb(68, 68, 196);;
  transition: width .3s;
}
.spanTitle:hover::after{
  width: 100%;
  transition: width .3s;
}
.spanTitle{
  font-family: 'Poppins', sans-serif;
  padding: 0px 70px 0px 0px; 
}

.secRowFirstCol{
  padding-top: 30px;
  padding-left: 80px;
}
.secRowFirstCol img{
  height: 512px;
  width: 543px;
  margin-top: 20px;
}
.secRowSecCol{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 128px 163px 70px 31px;
  
}
.secRowSecCol h1{
  color: rgb(68, 68, 196);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}
.secRowSecCol p{
  color: rgb(92, 92, 92);
}
.applyDiv{
  background-color: rgb(68, 68, 196);
    border-radius: 25px;
    text-align: center;
    width: 222px;
    padding: 10px;
    color: white;
}






@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    }
  .firstcol{
    color: rgb(68, 68, 196);
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    padding: 50px 90px 0px 270px;
    margin-top: -50px;
   }
  .afinozLogo {
    margin: 0px 60px 0px 20px;
   }
   .sideNav{
    color: rgb(68, 68, 196);
    float: right;
    margin: -72px -280px 35px 0px;
    height: 39px;
    width: 148px !important;
   }
   .mainNav{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 70px;
    font-size: 30px;
   }
   .navMenu{
     background-color: #fafafa;
     width:100%;
     height: 80vh; 
     position: fixed; 
     top: 0;
     top: 100%; 
     transition: 100ms;
   }
   .active{
     left: 0;
     transition: 358ms;
   }
   .navMenuItems{
    width: 533px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   }
   .navbarToggle{
     background-color: #fafafa;
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: start;
     align-items: center;
   }
   .span{
     margin-left: 16px;
   }
   .mainNav:hover{
     background-color: rgb(68, 68, 196);
     color: white;
      width: 500px;
     border-radius: 70px;
     text-align: center; 
   }

}